* {
    box-sizing:border-box;
}
body {
	font:12pt Verdana, Arila, Georgia, sans-serif;
    display: inline-flex;
	overflow:auto;
	background:url('../media/green-swirly.png');
    background-position:bottom left;
    background-repeat:no-repeat;
    background-size:250px 230px;
}
nav {
    margin-top:12px;
    margin-right:18px;
}
section{
    height:400px;
}
nav a {
    text-decoration:none;
}
section a:link {
    text-decoration:none;
    font-weight:bold;
    color:green;
    }
nav ul{
list-style-type:none;
margin:12px 0px 0px 0px;
padding:0px;
}   
nav ul li{
    border-bottom:2px solid black;
    } 
 nav ul li a:link, nav ul li a:visited {
        font-weight:bold;
        display:block;
        padding:3px 0px 3px 3px;
        background-color:green;
        color:white;
        }
        nav ul li a:hover, nav ul li a:active{
            font-weight:bold;
            display:block;
            padding:3px 0px 3px 3px;
            background-color:lightgreen;
            color:darkgreen;
            }
            nav ul ul{
                margin:0px;
                text-indent:20px;
            }
            
            nav ul ul li a:link, nav ul ul li a:visited {
                font-size:10pt;
                font-weight:bold;
                display:block;
                padding:3px 0px 3px 3px;
                background-color:green;
                color:white;
            }
            nav ul ul li a:hover, nav ul ul li a:active{
                font-size:10pt;
                font-weight:bold;
                display:block;
                padding:3px 0px 3px 3px;
                background-color:white;
                color:green;
            }
            [class*="col-"] {
                float: left;
                padding: 15px;
            }
            .col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.66%;}
            .col-12 {width: 100%;}