body {
	font:12pt Verdana, Arila, Georgia, sans-serif;
    display: inline-flex;
	overflow:auto;
	background:url('../media/green-swirly.png');
    background-position:bottom left;
    background-repeat:no-repeat;
}
nav {
    width:200px;
    margin-top:12px;
    margin-right:18px;
}
section{
    width:550px;
    height:400px;
}
nav a {
    text-decoration:none;
}
section a:link {
    text-decoration:none;
    font-weight:bold;
    color:green;
    }
nav ul{
list-style-type:none;
margin:12px 0px 0px 0px;
padding:0px;
}   
nav ul li{
    border-bottom:2px solid black;
    } 
 nav ul li a:link, nav ul li a:visited {
        font-weight:bold;
        display:block;
        padding:3px 0px 3px 3px;
        background-color:green;
        color:white;
        }
        nav ul li a:hover, nav ul li a:active{
            font-weight:bold;
            display:block;
            padding:3px 0px 3px 3px;
            background-color:lightgreen;
            color:darkgreen;
            }
            nav ul ul{
                margin:0px;
                text-indent:20px;
            }
            
            nav ul ul li a:link, nav ul ul li a:visited {
                font-size:10pt;
                font-weight:bold;
                display:block;
                padding:3px 0px 3px 3px;
                background-color:green;
                color:white;
            }
            nav ul ul li a:hover, nav ul ul li a:active{
                font-size:10pt;
                font-weight:bold;
                display:block;
                padding:3px 0px 3px 3px;
                background-color:white;
                color:green;
            }